body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

html, body, #root, #slide {
	height: 100%;
	width: 100%;
	background-color: white;
}

body {
	font-size: 2rem;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

#slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

slides {
	display: none
}

.logo {
	position: absolute;
	right: 0;
	bottom: 0;
	height: 4rem;
	margin: 1rem;
}

li * {
	display: inline-block;
}

pre, code {
	color: green;
	padding-left: 1rem;
	padding-right: 1rem;
	font-family: "Lucida Console", Monaco, monospace;
	border: 5px dashed green;
}

pre code {
	border: 0;
	padding: 0;
}

blockquote {
	color: green;
}
